<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<meta charset="utf-8" />
			<!-- link to main stylesheet -->
			<meta name="viewport" content="width=device-width, initial-scale=1" />
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<span class="logo"><img src="images/myphoto.png" alt="" /></span>
						<h1>Joelle Mbatchou</h1>
						<p>A deep mind</p>
					</header>
					
				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="#intro" class="active">Introduction</a></li>
							<li><a href="#first">Research</a></li>
							<li><a href="#second">Resume</a></li>
							<li><a href="#blog">Blog</a></li>
						</ul>
					</nav>
					
					
					
				<!-- Main stuff -->
					<div id="main" class="container">
					
					{{ content }}
					
					</div><!-- /.container -->
					
					
				<!-- Footer -->
					<footer id="footer">
						<section>
							<h2>Contact me</h2>
							<dl class="alt">
								<dt>Address</dt>
								<dd>5747 S. Ellis Avenue &bull; Chicago, IL 60637 &bull; USA</dd>
								<dt>Phone</dt>
								<dd>1-773-599-2825</dd>
								<dt>Email</dt>
								<dd><a href="mailto:jmbatchou@uchicago.edu">jmbatchou(at)uchicago(dot)edu</a></dd>
							</dl>
							<ul class="icons">
								<li><a href="http://twitter.com/jojoladisco" class="icon fa-twitter alt"><span class="label">Twitter</span></a></li>
								<li><a href="http://github.com/joellesophya" class="icon fa-github alt"><span class="label">GitHub</span></a></li>
							</ul>
						</section>
						<p class="copyright">&copy; Joelle Mbatchou</p>
					</footer>
			</div>
			
			<!-- Scripts NEEDED ???  -->
		</body>
	</html>
